<%- include('./partials/main') %>

<form class="form-main" action="/api/productos" method="post">
  <h1>Agrega un producto</h1>
  <div class="input-div">
    <label for="title">Título</label>
    <input class="text-input" type="text" name="title" />
  </div>
  <div class="input-div">
    <label for="price">Precio</label>
    <input class="text-input" type="number" name="price" />
  </div>
  <input type="submit" value="Agregar" class="button" />
</form>

<a href="/productos" class="button">Ver productos</a>

</body>
</main>
