<%- include('./partials/main') %>
<div class="products">
  <h1>Productos</h1>


  <% if (products.length) { %>
    <% products.forEach(function(product){ %>
      <div class="product-row"><h2><%= product.title %></h2><p>Precio: $<%= product.price %></p></div>
    <% })%>

  <% } else { %>
    <h2>No se encontraron productos :(</h2>
  <% } %>
</div>

<a href="/" class="button">Agregar producto</a>
</body>
</main>