* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
  padding: 20px;
}
.form-main {
  width: min(100%, 500px);
  border-radius: 20px;
  margin: 0 auto 40px;
  padding: 20px 50px;
  background-color: rgba(97, 123, 165, 0.406);
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.button {
  display: block;
  border: 2px solid rgb(166, 226, 203);
  text-decoration: none;
  color: black;
  font-size: 1rem;
  background-color: rgb(166, 226, 203);
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: white;
}
.text-input {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 5px;
}
.products {
  width: min(100%, 500px);
  margin: 0 auto;
  background-color: rgba(97, 123, 165, 0.406);
  border-radius: 20px;
  padding: 20px 50px;
  margin-bottom: 40px;
}
.product-row {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
h2 {
  font-size: 18px;
  margin-bottom: 7px;
}
.button.see-products {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#mensajes {
  width: min(100%, 500px);
  border-radius: 20px;
  margin: 0 auto 40px;
  padding: 20px 50px;
  background-color: rgba(97, 123, 165, 0.406);
}

#user-email {
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
}

#user-message {
  margin: 20px 0;
}

.message-row {
  margin-bottom: 10px;
}

.message-row .email {
  color: blue;
  display: inline-block;
  margin-right: 10px;
}

.message-row .date {
  color: red;
  display: inline-block;
}

.message-row .message-text {
  color: green;
}
