<form id="form-main" class="form-main" action="/api/productos" method="post">
  <h1>Agrega un producto</h1>
  <div class="input-div">
    <label for="title">Título</label>
    <input id="product-title" class="text-input" type="text" name="title" />
  </div>
  <div class="input-div">
    <label for="price">Precio</label>
    <input id="product-price" class="text-input" type="number" name="price" />
  </div>
  <input type="submit" value="Agregar" class="button" />
</form>

<h1>Productos</h1>
<div class="products" id="products"></div>

<h1>Centro de Mensajes</h1>
<div class="mensajes" id="mensajes">
  <input
    class="text-input"
    type="email"
    id="user-email"
    placeholder="ejemplo@ejemplo.com"
  />
  <hr />

  <div id="messages-container"></div>

  <form id="send-message">
    <input class="text-input" type="text" id="user-message" />
    <input class="button" type="submit" value="Enviar" />
  </form>
</div>