<form action="/login" method="post" class="form-main">
  <h1>Login de usuario</h1>

  <div class="input-div">
    <label for="name">Ingrese su nombre</label>
    <input id="user-name" class="text-input" type="text" name="name" />
  </div>

  <input type="submit" value="Enviar" class="button" />
</form>